body {
  margin: 0;
  height: 100%;
}
.container {
  height: 100;
  background-color: hsl(0, 0%, 0%);
}

.left {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 18%;
}

/* .center {
  background-color: hsl(180, 100%, 50%);
  height: 100%;
  width: 40%;
} */
